.form-container{
	background-color: grey;
	background-image: url("../images/backgrounds/bg2.jpg");
	background-repeat: repeat;
	padding-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.form-container > .form-contact-container,
.form-container > .form-contact-container{
	margin-top: 160px;
}

.form-title{
	border-left: 7px solid rgb(52,221,221);
	color: rgb(52,221,221);
	font-size: 2em;
	height: 2em;
	line-height: 2em;
	padding-left: 50px; 
	display: block;
	text-transform: uppercase;
}

.form-contact-container{
	background-color: #FFF;
	border: solid #ccc 1px;
	border-radius: 10px;
	width: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}



.form-contact{
	font-size: 2vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-contact-lblNombre,
.form-contact-txtNombre,
.form-contact-lblApellido,
.form-contact-txtApellido,
.form-contact-lblEmail,
.form-contact-txtEmail,
.form-contact-lblMensaje,
.form-contact-txtMensaje
{
	margin-top: 20px;
	text-align: center;
	font-weight: bold;

	display: block;
	width: 100%;
}

.form-contact-lblNombre,
.form-contact-txtNombre,
.form-contact-lblApellido,
.form-contact-txtApellido,
.form-contact-lblEmail,
.form-contact-txtEmail,
.form-contact-lblMensaje,
.form-contact-txtMensaje
{
	margin-top: 20px;
	font-size: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.form-button{
	color: rgb(52,221,221);
	font-weight: bold;
	padding: 15px 70px;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 1em;
} 


