.banner{
	background-image: url("../images/backgrounds/shopping.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.products-container{
	width: 80%;
	margin:auto;
	margin-top: 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product-item{
	background-color: #EDEFED;
	width: 200px;
	height: 330px;
	display: inline-block;
	margin: 8px;
	color:#333;
	transition:all .4s;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border: 1px solid #82D2E8;
}

.info-container{
	position: relative;
}

.product-price{
	transition: all .6s;
}

.product-option{	
	position: absolute;
	opacity: 0;
	top:0;
	transition: all 0.6s;
}

.product-item:hover{
	background-color: #82D2E8;
	color:white;
}

.product-image{
	width: 100%;
	height: 250px;
	background-color: lightblue;
}

.product-image-resize{
	width: 100%;
	height: 100%;
}

.product-special{
	position: absolute;
	top:10px;
	left: -8px;
}