.form-container{
	width: 100vw;
	height: 100%;
	padding-bottom: 0;	
}

.form-container > .form-login-container,
.form-container > .form-register-container{
	margin-top: 0;
}


/*---------------------------
	LOGIN
---------------------------*/
.form-login-container{
	width: 100%;
	height: 100%;
	position: relative;
}

.form-login-titleCont{
	text-align: center;
	padding-bottom: 150px;
}

.form-login-title{
	font-size: 3em;
	padding-left: 0;
}

.form-login-icon{
	top: 130px;
	left: 50%;
}

.form-login-txtUsuario,
.form-login-txtPass{
	text-align: center;
	font-size: 2em;
}

.form-login-remember{
	text-align: center;
}

/*---------------------------
	LOG UP
---------------------------*/
.form-logup-container{
	width: 100%;
	height: 100%;
}

.form-logup-titleCont{
	padding-bottom: 180px;
}

.form-logup-title{
	font-size: 3em;
	line-height: 2.3em;
	text-align: center;
}

.form-logup-txtUsuario,
.form-logup-txtPass,
.form-logup-txtRePass,
.form-logup-txtNombre,
.form-logup-txtApellido,
.form-logup-txtEmail{
	font-size: 5vw;
	text-align: center;
}
