*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: white;
	font-family: helvetica, sans-serif;
	margin: auto;
}

a{
	text-decoration: none;
	display: block;
	color:black;
}

ol,ul{
	list-style-type: none;
}

/*===============================
 HOME BANNER START
=================================*/
.banner{
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
}

.banner-title{
	text-align: center;
	width: 100%;
	font-size:4vw;
	padding: 15vh 0;
	color:white;
	background-color: rgba(52,221,221,.5);
}

.header-flex{
	display:flex;
	flex-direction: column;
	background-color: white;
}

/*===============================
 HORIZONTAL MENU BAR > nav & log
=================================*/

.horizontal-menu{
	width: 100%;
	background-color: rgba(255,255,255,.3);
	position: fixed;
	display: flex;
	justify-content: space-between;
}

.horizontal-menu a{
	transition: background-color 0.5s;
	padding: 25px 10px;
	text-transform: uppercase;

}

.horizontal-menu a:hover{
	background-color: skyblue;
}

.horizontal-menu li{
	display: inline-block;
}

/*===============================
 SECTION CONTAINER > about & faq
=================================*/
<<<<<<< HEAD
.section-container{
	width: 100%;
	display: inline-block;
}

.mainSection{
	width: 100%;
	padding-top: 20px;
}

/*--SECTIONS BG--*/
.mainSection.about{background-color: beige;}

=======

.mainSection{
	width: 100%;
	height: 100vh;
	padding-top: 20px;
}

/*--SECTIONS BG--*/
.mainSection.about{background-color: #FCFDDB;}
.mainSection.faq{background-color: #EECCEE;}


>>>>>>> origin/master
/*----GENERAL SECTION ELEMENTS--*/
.title{
	font-family: 'Special Elite', helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
}

.title::before{
	display: block;
	height: 32px;
	margin: auto;
	content:url("../images/flower-bg.png");
}

.title::after{
	display:block;
	content:"";
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin:0 auto;
}

.standard-button{
	border: solid 2px black;
<<<<<<< HEAD
=======
	display: inline-block;
>>>>>>> origin/master
	padding: 25px;
}

/*--ABOUT SECTION--*/

.title.about::after{
	background-color: pink;
}

.about.intro{
	width: 90%;
	margin: auto;
	display:flex;
	justify-content: space-around;
}

.about.intro.description{
<<<<<<< HEAD
	border: 1px solid green;
=======
	background-color: red;
>>>>>>> origin/master
	width: 75%;
}

.about.intro.image{
	background-color: white;
	width: 10%;
}

/*--WORK > steps--*/

.about-work{
	text-align:center;
	width: 100%;
}

.work-steps::before{
	display:block;
	position: absolute;
	content:"";
	width: 100%;
	height: 1px;
	background-color: grey;
}

.work-steps{
<<<<<<< HEAD
	/*margin-top: 20px;*/
=======
	margin-top: 20px;
>>>>>>> origin/master
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.step {
	width: 10%;
}

.step::before{
	display:block;
	content:"";
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top:-5px;
	background-color: chocolate;
	position: relative;
	z-index: 1;
}

/*--title & circles (steps)--*/
.circle-one::before{background-color: #22C6E4;}
.title-step-one{color:#22C6E4;}

.circle-two::before{background-color: #E81560;}
.title-step-two{color: #E81560;}

.circle-three::before{background-color: #16BF0D;}
.title-step-three{color: #16BF0D;}

.circle-four::before{background-color: #FDB906;}
.title-step-four{color:#FDB906;}

.about-buttonCont{
<<<<<<< HEAD

=======
>>>>>>> origin/master
	display:flex;
	justify-content: space-around;
	font-size: 1.5em;
}

/*--FAQ SECTION--*/

/*/////////////*/
/*/////////////*/
/*/////////////*/
/*/////////////*/


/*===============================
 FOOTER > footer-nav
=================================*/

.main-footer{
	background-color: blue;
	height: 100px;
	width: 100%;
}

.main-footer-nav{
	display: flex;
	justify-content:space-around;
}

/*.main-footer-nav ul{
	width: 100%;
}*/

.main-footer-nav li{
	display: inline-block;
}