*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: white;
	font-family: helvetica, sans-serif;
	margin: auto;
}

a{
	text-decoration: none;
	display: block;
	color:black;
}

ol,ul{
	list-style-type: none;
}

.header-flex{
	display:flex;
	flex-direction: column;
	background-color: white;
}

.horizontal-menu{
	width: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 100;
}

.horizontal-menu a{
	transition: background-color 0.5s;
}

.horizontal-menu a:hover{
	background-color: skyblue;
}

.horizontal-menu a {
	padding: 25px 10px;
	text-transform: uppercase;
}

.horizontal-menu li{
	display: inline-block;
}

.horizontal-menu-nav{
	display:inline-block;
	position: fixed;
}

.horizontal-menu-log{
	display:inline-block;
	position: fixed;
	right: 0;
}

.header-image{
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
}

.header-image-title{
	text-align: center;
	width: 100%;
	font-size:4vw;
	padding: 15vh 0;
	color:white;
	background-color: rgba(52,221,221,.5);
}

.title{
	font-family: 'Special Elite', helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
}

.title::before{
	display: block;
	height: 32px;
	margin: auto;
	content:url("../images/flower-bg.png");
}

.title::after{
	display:block;
	content:"";
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin:0 auto;
}

.pink::after{
	background-color: pink;
}

.blue::after{
	background-color: blue;
}

.green::after{
	background-color: green;
}

.know-us{
	background-color: #FCFDDB;
	height: 100vh;
	width: 100%;
}

.know-us-intro{
	background-color: pink;
	display:flex;
	justify-content: space-around;
}

.know-us-intro .description{
	background-color: red;
	width: 75%;
}

.know-us-intro .image{
	background-color: white;
	width: 10%;
}

.know-us-steps{
	text-align:center;
	width: 100%;
	margin: 40px 0;
}

.know-us-steps-flex::before{
	display:block;
	position: absolute;
	content:"";
	width: 100%;
	height: 1px;
	background-color: grey;
}

.know-us-steps-flex{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.step {
	width: 10%;
}

.step::before{
	display:block;
	content:"";
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top:-5px;
	background-color: chocolate;
	position: relative;
	z-index: 1;
}

.circle-one::before{
	background-color: #22C6E4;
}

.title-step-one{
	color:#22C6E4;
}

.circle-two::before{
	background-color: #E81560;
}

.title-step-two{
	color: #E81560;
}

.circle-three::before{
	background-color: #16BF0D;
}

.title-step-three{
	color: #16BF0D;
}

.circle-four::before{
	background-color: #FDB906;
}

.title-step-four{
	color:#FDB906;
}

.know-us-buttons{
	margin-top: 70px;
	display:flex;
	justify-content: space-around;
	font-size: 1.5em;
}

.standard-button{
	border: solid 2px black;
	display: inline-block;
	padding: 25px;
}

.main-footer{
	background-color: violet;
	height: 100px;
	width: 100%;
}

.main-footer-nav{
	display: flex;
	justify-content:space-around;
}

/*.main-footer-nav ul{
	width: 100%;
}*/

.main-footer-nav li{
	display: inline-block;
}