*{
}

.section-container{
	background-color: beige;
	width: 100vw;
}

.mainSection-about{
	background-color: yellow;
}

.mainSection-about-title{
	font-family: 'Special Elite', helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
}

.mainSection-about-title::before{
	display: block;
	height: 32px;
	margin: auto;
	content:url("../images/flower-bg.png");
}

.mainSection-about-title::after{
	background-color: pink;
	display:block;
	content:"";
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin:0 auto;
}

.about-description{
	background-color: grey;
	width: 90%;
	padding-top: 30px;
	margin: auto;
}

.about-description-cont{
	position: relative;
	background-color: red;
	width: 40%;
	height: 130px;
	padding: 30px;
	margin: auto;
}

.about-description-textCont{
	z-index: 8;
	position: absolute;
	top: 0;
	left: 0;
	background-color: lightblue;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	
	display: block;
}

.about-description-textCont.active{
	z-index: 10;
}

.about-description-textCont.last-active{
	z-index: 9;
}


.about-description-textCont.hidden{
	display: none;
}